* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
  }
  body, button, input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
  }
  body, input {
    color: #171717;
  }
  body, .search-bar {
    display: flex;
  }
  body {
    background: #f1f1f1;
    height: 100vh;
  }
  .search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
